.headNavbar {
  margin: 0px;
  padding: 0px;
  background-image: url("../RootLayout/Image/aeroplan.jpg");
  background-size: cover;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
