.mainNav {
  background-color: rgb(12, 4, 45);
  color: white;
  text-align: center;
  line-height: 50px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}
.mainNav img {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  vertical-align: middle;
  margin: 0px 10px 0px;
  object-fit: cover;
  border-radius: 6px;
  box-sizing: border-box;
}
.logoName {
  text-decoration: none;
  color: white;
}
.navTabs {
  list-style: none;
  display: flex;
  margin: 0px;
  box-sizing: border-box;
}
.navTabs li {
  padding: 1px 5px;
}
.active {
  color: white;
  font-weight: bolder;
}
.unActive {
  color: white;
  text-decoration: none;
  opacity: 0.5;
}
.loginBtn {
  padding: 3px 10px;
  margin-right: 10px;
}
.menubarBtn {
  display: none;
  padding: 3px 10px;
  margin-right: 10px;
}

@media screen and (max-width: 550px) {
  .navTabs {
    display: none;
  }
  .menubarBtn {
    display: inline;
    padding: 2px 5px;
    margin-right: 5px;
  }
  .loginBtn {
    padding: 2px 5px;
    margin-right: 5px;
  }
  .mainNav {
    font-size: small;
  }
  .mainNav img {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    vertical-align: middle;
    margin:0px;
    object-fit: cover;
    border-radius: 2px;
    box-sizing: border-box;
  }
}
