/* .accountBackdrop{
    background-color: rgb(0, 0, 0);

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
} */
.account {
  background-color: lightblue;
  width: 50%;
  margin: 0px auto;
  padding: 20px;
  box-sizing: border-box;
}
