.signForm {
    background-color: lightblue;
    width: 60%;
    margin: 10px auto ;
    padding: 20px;
    box-sizing: border-box;
  }
  .singleField {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    box-sizing: border-box;
  }
  .multiField {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5px;
    gap: 5px;
    box-sizing: border-box;
  }
  .signupForm label,
  input {
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  .signBtn {
    display: grid;
    columns: 2 / span 2;
    width: 50%;
    padding: 5px;
    margin: 10px auto 0px;
  }
  