.container {
  background-color: white;
  width: 80%;
  padding: 5px 20px 10px;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 4px black;
  box-sizing: border-box;
}
.dblDisplayField {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  box-sizing: border-box;
}
.container label,
input,
select,
.AddBtn {
  display: block;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.container label,
.AddBtn {
  font-weight: bold;
  margin-top: 5px;
}
.AddBtn {
  background-color: rgb(167, 232, 167);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(9, 82, 9);
  margin-top: 10px;
}
.AddBtn:hover {
  background-color: rgb(0, 80, 0);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
}

@media screen and (max-width: 550px) {
  .container {
    margin: 0px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 0px;
    box-shadow: none;
    box-sizing: border-box;
  }
  .dblDisplayField {
    display: block;
    grid-template-columns: 1fr;
    box-sizing: border-box;
  }
}
